

//Base
@mixin sortSymbolStyle {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  content: '';
  margin-right: -20px;
  vertical-align: top;
}

.table--base {//节点名--状态名
  background:transparent;
  color:#33302e;
  border-collapse: collapse;
  margin: 0 0 20px;
  width: 100%;

  caption {
    margin:0;
    padding:0;
    width:100%;
  }
  th,td {
    padding:8px;
    text-align: left;
    vertical-align: top;
    font-size:18px;
  }
  th {
    font-weight: bold;
  }

  thead th:not([data-disablesort="true"]) {
    cursor:pointer;
    user-select: none;
    padding-right: 20px;
    &[aria-sort='none']::after {
      background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrows-up-down?source=o-icons&format=svg);
      @include sortSymbolStyle;
    }
    &[aria-sort='ascending']::after, &[aria-sort='none']:hover::after {
      background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-up?source=o-icons&format=svg);
      @include sortSymbolStyle;
    }
    &[aria-sort='descending']::after {
      background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=o-icons&format=svg);
      @include sortSymbolStyle;
    }
    
  }

  
  //Cell :必须要写在table节点内部，否则层叠优先级不够
  .headsub-cell {
    font-weight:normal;
    font-size:16px;
  }
  
  .body-cell--numeric {
    text-align: right;
  }

  //Caption:
  caption {
    font-family: MetricWeb,sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid #b3a9a0;
    border-top: 2px solid #b3a9a0;
    text-align: center;
    text-transform: uppercase;
  }
  .caption--top {
    caption-side: top;
    margin-bottom:-2px;
  }
  .caption--bottom {
    caption-side: bottom;
    margin-bottom:0;
  }
}

